@font-face {
  font-family: "Bruno Ace SC";
  src: url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.eot");
  src: url("/assets/font/Bruno_ace_sc/Bruno_ace_ace?#iefix")
      format("embedded-opentype"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.woff2") format("woff2"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.woff") format("woff"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.ttf") format("truetype"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.svg#Bruno Ace SC")
      format("svg");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto.eot");
  src: url("/assets/font/Roboto/Roboto?#iefix") format("embedded-opentype"),
    url("/assets/font/Roboto/Roboto.woff2") format("woff2"),
    url("/assets/font/Roboto/Roboto.woff") format("woff"),
    url("/assets/font/Roboto/Roboto.ttf") format("truetype"),
    url("/assets/font/Roboto/Roboto.svg#Roboto") format("svg");
}

* {
  scroll-behavior: smooth;
}

html {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

html,
button {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: "Bruno Ace SC";
}

#logo_long {
  fill: red;
}

img {
  max-width: 100%;
}

a {
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
}
a:not(#logo a):not(#reseaux-mobile a):not(#reseaux a):after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.25s ease-out;
  bottom: 0;
  left: 0;
}
a:not(#logo a):not(#reseaux-mobile a):not(#reseaux a):hover {
  color: rgb(177, 177, 196) !important;
  font-style: italic;
}
a:not(#logo a):not(#reseaux-mobile a):not(#reseaux a):hover:after {
  transform: scaleX(1);
}

button {
  padding: 8px;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
}
button:hover {
  font-style: italic;
}
button.info {
  border: white;
  color: black;
  background: goldenrod;
  transition: background 0.5s ease-in-out;
}
button.info:hover {
  border: white;
  color: goldenrod;
  background: black;
  transition: background 0.5s ease-in-out;
}

#scroll-to-top {
  //   mix-blend-mode: exclusion;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(
    45deg,
    #00c6ff,
    #0072ff
  ); /* Dégradé bleu futuriste */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 114, 255, 0.8);
  transition: all 0.3s ease-in-out;
}

#scroll-to-top img {
  width: 50px;
  height: 50px;
  // filter: invert(1); /* Rend l'image blanche si elle est noire */
}

#scroll-to-top:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
  box-shadow: 0 0 20px rgba(0, 114, 255, 1);
}

#scroll-to-top:active {
  transform: scale(0.95); /* Légère réduction au clic */
}

// #scroll-to-top.mobile {
//   position: relative;
//   right: inherit;
//   bottom: inherit;
//   width: 2rem;
//   backdrop-filter: inherit;
//   background-color: transparent;
//   border-radius: inherit; // mettre le bouton dans la barre réseaux mobile
// }
#reseaux,
#reseaux-mobile {
  & a {
    & i {
      color: $text-color-light;
    }
  }
}

main {
  // min-height: 120vh; // A retirer avec contenu
  // position: relative;
  margin: auto;
  max-width: 1024px;
  & section#hero-header {
    color: $text-color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/images/crypto.jpg") no-repeat center center / cover;
    & h1 {
      backdrop-filter: blur(10px);
      background: rgba(222, 216, 216, 0.5);
      width: 80%;
      padding: 8px 0;
      text-align: center;
      border-radius: 8px 8px 0 0;
      max-width: 600px;
    }
    & #content {
      margin-top: 1rem;
      backdrop-filter: blur(10px);
      background: rgba(222, 216, 216, 0.5);
      display: flex;
      width: 80%;
      max-width: 600px;
      border-radius: 0 0 8px 8px;
      padding-bottom: 8px;
      & #p-left {
        padding: 8px;
      }
      & div {
        display: flex;
        flex-direction: column;
        & p {
          padding: 8px;
        }
        & button {
          margin: auto;
        }
      }
    }
  }
  & section:nth-child(1) {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }
  // & section:not(:nth-child(1)) {
  //   height: 400px;
  // }
}

html[data-theme="light"] {
  background-color: $bg-color-light;
  color: $text-color-light;
  & #scroll-to-top {
    & circle {
      fill: $text-color-light;
    }
  }
  & a {
    color: $text-color-light;
  }
  & header {
    background: $bg-color-light;
    & nav {
      & #logo {
        & a {
          & #logo_long {
            fill: $bg-color-dark;
            width: 100px;
          }
        }
      }
      & #nav {
        & i[data-theme-toggler] {
          color: $text-color-light;
        }
      }
    }
  }
}

html[data-theme="dark"] {
  background-color: $bg-color-dark;
  color: $text-color-dark;
  & #scroll-to-top {
    & circle {
      fill: $text-color-dark;
    }
  }
  & a {
    color: $text-color-dark;
  }
  & header {
    background: $bg-color-dark;
    & nav {
      & #logo {
        & a {
          & #logo_long {
            fill: $bg-color-light;
            width: 100px;
          }
        }
      }
      & #nav {
        & i[data-theme-toggler] {
          color: $text-color-dark;
        }
      }
    }
  }
}

// Darkmode
@media only screen and (max-width: 768px) {
  html[data-theme="light"] {
    & header {
      & nav {
        & #nav {
          background-color: $bg-color-dark;
          & ul {
            & li {
              color: $text-color-dark;
              & a {
                color: $text-color-dark;
              }
            }
          }
          & i[data-theme-toggler] {
            color: $text-color-dark;
          }
        }
      }
    }
  }

  html[data-theme="dark"] {
    & header {
      & nav {
        & #nav {
          background-color: $bg-color-light;
          & ul {
            & li {
              color: $text-color-light;
              & a {
                color: $text-color-light;
              }
            }
          }
          & i[data-theme-toggler] {
            color: $text-color-light;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  main {
    & section#hero-header {
      & h1 {
        width: 100%;
        border-radius: 0;
      }
      & #content {
        width: 100%;
        border-radius: 0;
        & #p-left {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #scroll-to-top {
    bottom: 4rem;
  }
}
