<head>
  <link
    rel="stylesheet"
    href="<%= process.env.SITE_URL%>/assets/styles/contact.css"
  />
</head>
<%- include('../partials/header', { title: 'Contact'}) %>

<main>contact</main>

<%- include('../partials/footer') %>
